Flask==2.3.2  # Versão mais estável para produção
flask-cors==4.0.0
Flask-SQLAlchemy==3.1.1
python-dateutil==2.8.2
SQLAlchemy==2.0.25
Werkzeug==2.3.7  # Compatível com Flask 2.x
gunicorn==21.2.0  # Adicione esta linha
